In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
lista_anni = np.arange(2015,2016)
lista_mesi = np.arange(2,5)

In [5]:
# file = 'DATI/2015/gennaio_2015.xlsx'
# xl = pd.ExcelFile(file)

In [6]:
 # def estrai(file):
    
    #df[df['Brand'].str.match('Giallozafferano.it')]
   # parametrizzare skiprows e dettaglio brand e channel 
output = []

In [19]:


for anno in lista_anni:
    for mese in lista_mesi:
        file = "DATI/2015/" + str(mese) + '_' + str(anno) + '.xlsx'
        xl = pd.ExcelFile(file)
        df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18 )
        df = df.drop('Channel', axis=1)
        df = df.drop('TDA.1', axis=1)
        df = df.drop('PC.1', axis=1)
        df = df.drop('MOBILE.1', axis=1)
        df = df.drop('TDA.3', axis=1)
        df = df.drop('PC.3', axis=1)
        df = df.drop('MOBILE.3', axis=1)
        df[df['Brand'].str.match('Giallozafferano.it')]
        riga = {'data' : str(anno) + '-' + str(mese) + '-' + '01'}
        df.columns # lista colonne
        for column in df.columns:
            riga[column] = df[column][40]  #df['Brand'].str.match('Giallozafferano.it')           # verificare
            print(riga)
        output.append(riga)
       #print (output)
        df = pd.Dataframe(output)
        df.to_csv(Giallozafferano)

{'data': '2015-2-01', 'Brand': 'ANSA                                              '}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665, 'MOBILE.2': 326}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665, 'MOBILE.2': 326, 'TDA.4': '  02:27'}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665, 'MOBILE.2': 326, 'TDA.4': '  02:27', 'PC.4': '  02:05'}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665, 'MOBILE.2': 326, 'TDA.4': '  02:27', 'PC.4': '  02:05', 'MOBILE.4': '  03:30'}
{'data': '2015-2-01', 'Brand': 'ANSA                                              ', 'TDA': 350709, 'PC': 263174, 'MOBILE': 89088, 'TDA.2': 991, 'PC.2': 665, 'MOBILE.2': 326, 'TDA.4': '  02:27', 'PC.4': '  02:05', 'MOBILE.4': '  03:30', 'Unnamed: 17': nan}

AttributeError: module 'pandas' has no attribute 'Dataframe'