In [1]:
df.filter(items =['Unnamed:4'], axis=1)

NameError: name 'df' is not defined

In [ ]:
df[df['Unnamed:4'] == 'giallo zafferano']

In [15]:
df['Brand']

0       2night                                        ...
1       3000.tv                                       ...
2       3BMeteo                                       ...
3       4actiongirl.it                                ...
4       4skateboard.it                                ...
                              ...
1258    Zingarate.com                                 ...
1259    Zingarate.com                                 ...
1260    Zingarate.com                                 ...
1261    Zingarate.com                                 ...
1262    Zulugiochi                                    ...
Name: Brand, Length: 1263, dtype: object