In [2]:
#df.filter(items =['Unnamed:4'], axis=1)

In [3]:
#df[df['Unnamed:4'] == 'giallo zafferano']

In [4]:
#df['Brand']

In [1]:
#xl = pd.ExcelFile(file)

In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'DATI/2015/4_2015.xlsx'

In [3]:
xl = pd.ExcelFile(file)

In [4]:
#df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, index_col=10)

In [5]:
#df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, names='Brand',header=None)

In [6]:
df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, usecols="C,D,E")

In [7]:
df.head(10)

      TDA      PC  MOBILE
0     160       0     160
1  474747  179290  297672
2       1       1       0
3      79       0      79
4     333     333       0
5     257      37     221
6     319     319       0
7   33467   25890    7628
8     134     134       0
9   41679   22380   19299

In [ ]:
df.loc[df[colonna].str.contains(valore) == True]

In [ ]:
  #if colonna or valore == df.notnull():
         #    [mask.fillna(False)]
            # df.fillna(value=0, method=None, axis=0, inplace=True)