In [2]:
#df.filter(items =['Unnamed:4'], axis=1)

In [3]:
#df[df['Unnamed:4'] == 'giallo zafferano']

In [4]:
#df['Brand']

In [1]:
#xl = pd.ExcelFile(file)

In [5]:
import pandas as pd
import numpy as np

In [6]:
file = 'DATI/2015/4_2015.xlsx'

In [7]:
xl = pd.ExcelFile(file)

In [7]:
#df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, index_col=10)

In [31]:
#df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, names='Brand',header=None)

In [39]:
df = pd.read_excel(xl, 'Dettaglio Brand & Channel',skiprows=18, usecols=str)

In [40]:
df.head(10)

,Brand,Channel,TDA,PC,MOBILE,TDA.1,PC.1,MOBILE.1,TDA.2,PC.2,MOBILE.2,TDA.3,PC.3,MOBILE.3,TDA.4,PC.4,MOBILE.4,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,3000.tv ...,...,160,0,160,160,0,160,0,0,0,0,0,0,00:04,00:00,00:04,00:04,00:00,00:04
1,3BMeteo ...,...,474747,179290,297672,474747,179290,297672,1420,800,620,1420,800,620,01:58,02:11,01:50,01:58,02:11,01:50
2,4skiers.it ...,...,1,1,0,1,1,0,0,0,0,0,0,0,00:52,00:52,00:00,00:52,00:52,00:00
3,4snowboard.it ...,...,79,0,79,79,0,79,0,0,0,0,0,0,01:32,00:00,01:32,01:32,00:00,01:32
4,4surf.it ...,...,333,333,0,333,333,0,1,1,0,1,1,0,01:16,01:16,00:00,01:16,01:16,00:00
5,4windsurf.it ...,...,257,37,221,257,37,221,0,0,0,0,0,0,01:02,02:03,00:52,01:02,02:03,00:52
6,Abbonationline ...,...,319,319,0,319,319,0,2,2,0,2,2,0,01:52,01:52,00:00,01:52,01:52,00:00
7,Affaritaliani.it ...,...,33467,25890,7628,33467,25890,7628,118,97,21,118,97,21,02:37,02:43,02:18,02:37,02:43,02:18
8,Affashionate.com ...,...,134,134,0,134,134,0,0,0,0,0,0,0,01:34,01:34,00:00,01:34,01:34,00:00
9,AGI ...,...,41679,22380,19299,41679,22380,19299,93,43,50,93,43,50,02:06,02:03,02:10,02:06,02:03,02:10